---
---

@import 'jekyll-theme-cayman';

.page-header {
  background: #FFFDDE !important;
  color: #000000;
}

.nav {
  background-color: #000000;
  padding: 10px 0;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  color: #FFFDDE;
  font-weight: bold;
  padding: 5px 10px;
  transition: color 0.2s ease;
}

.nav a:hover {
  color: #D0CEB7;
}
